.reviews {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 86px;
  &__card {
    text-align: center;
    &-img {
      margin: auto;
      padding-bottom: 29px;
    }
  }
  &__block {
    max-width: 926px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 43px;
    padding-bottom: 26px;
    background-color: #fafafa;
    &-text {
      // font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 2.55;
      text-align: center;
      color: #000000;
      &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icon.svg#icon-quote');
        width: 54px;
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        margin-top: -15px;
        margin-left: 4px;
      }
    }
  }
  &__card-info {
    margin-top: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    &::before {
      content: '';
      display: block;
      background-image: url('/images/icon.svg#icon-Ellipse-5');
      background-size: 32px 4px;
      margin: 0 auto 15px;
      width: 32px;
      height: 4px;
      fill: #c7133e;
    }
  }
}
