body {
    font-family: 'DM sans', sans-serif; 
    background-color: #FFFFFF;
    line-height: 1.5;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 34px;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 0 115px;
    }
}