body {
  font-family: 'DM sans', sans-serif;
  background-color: var(--light-text-color);
  line-height: 1.5;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 115px;
  }
}

.btn {
  font-family: inherit;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-text-color);
  color: var(--text-red);

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--btn-active-bg-color);
  }

  &-red {
    background-color: var(--text-red);
    color: var(--light-text-color);

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }
}
