.contacts {
  background: linear-gradient(
    to bottom,
    var(--gallery-gradient-color-to) 84px,
    var(--gallery-gradient-color-from) 5%
  );

  @include tab {
    background: linear-gradient(
      to bottom,
      var(--gallery-gradient-color-to) 78px,
      var(--gallery-gradient-color-from) 5%
    );
  }
  @include desk {
    background: url(../images/desktop/bg-pink-desk@x1_01.png) left 130px no-repeat,
      url(../images/desktop/bg-pink-desk@x1_02.png) right 130px no-repeat,
      linear-gradient(
        to bottom,
        var(--gallery-gradient-color-to) 100px,
        var(--gallery-gradient-color-from) 5%
      );
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url(../images/desktop/bg-pink-desk@x2_01.png) left 130px no-repeat,
        url(../images/desktop/bg-pink-desk@x2_02.png) right 130px no-repeat,
        linear-gradient(
          to bottom,
          var(--gallery-gradient-color-to) 100px,
          var(--gallery-gradient-color-from) 5%
        );
      background-size: 50%;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    width: 220px;
    margin: 0 auto;
  }

  @include tab {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -20px;
    margin-top: -20px;
  }
  @include desk {
    margin-left: -30px;
    margin-top: -30px;
  }
}
.contacts__item {
  padding: 43px 21px 43px 20px;
  background-color: var(--light-text-color);
  box-shadow: 0px 8px 30px var(--contacts-item-shadow-color);
  border-radius: 24px;
  transition: box-shadow var(--transition);
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include tab {
    padding: 50px 32px 50px 31px;
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  @include desk {
    padding: 51px 44px 62px 43px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  &:hover,
  &:focus {
    box-shadow: var(--contacts-item-hover-shadow);
  }
}

.contacts__title {
  width: 80px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 25px;
  color: var(--light-text-color);
  border-radius: 6px;
  @include tab {
    width: 73px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  @include desk {
    margin-bottom: 32px;
  }
  &-cafe {
    background-color: var(--product-sand);
  }
  &-truck {
    width: 130px;
    background-color: var(--product-green);
    @include tab {
      width: 138px;
    }
  }
}

.contacts__pre-title,
.schedule__pre-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--text-black);
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

.contacts__after-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-gray);
  margin-top: 10px;
  margin-bottom: 25px;
  @include tab {
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  @include desk {
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.schedule__list {
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 25px;

  border-top: 1px solid var(--contacts-bottom-color);
  border-bottom: 1px solid var(--contacts-bottom-color);
  @include tab {
    padding-top: 30px;
    padding-bottom: 30px;

    margin-bottom: 30px;
  }
  @include desk {
    padding-top: 32px;
    padding-bottom: 32px;

    margin-bottom: 32px;
  }
}

.schedule__weekday {
  margin-bottom: 10px;
}

.schedule__after-title {
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-pink);
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

.contact-address__tel,
.contact-address__mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-gray);
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

.contacts__item-wrap {
  margin-bottom: 25px;
  // padding-bottom: 25px;

  @include tab {
    margin-bottom: 30px;
    // padding-bottom: 30px;
  }
  @include desk {
    margin-bottom: 32px;
    // padding-bottom: 32px;
  }
}

.contacts__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  @include tab {
    flex-direction: row;
    justify-content: center;
    margin-top: 81px;
  }
  @include desk {
    margin-top: 86px;
  }
}
.contacts__btn {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
}
.contacts__btn-item {
  @include tab {
    &:not(:last-child) {
      margin-right: 14.5px;
    }
  }
}
.location__btn {
  background: var(--text-red);
  color: var(--light-text-color);
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  @include tab {
    width: 191px;
  }

  @include desk {
    width: 198px;
  }
  &:hover,
  &:focus {
    background: var(--text-red);
  }
}
.franchise__btn {
  border: 2px solid transparent;
  color: var(--contacts-btn-color);
  background-color: var(--light-text-color);
  &:hover,
  &:focus {
    background-color: var(--btn-active-bg-color);
  }
}

.location__btn-icon {
  fill: currentColor;
  margin-left: 8px;
  @include tab {
    margin-left: 13px;
  }
}
.franchise__btn-icon {
  margin-left: 13px;
}
