.contacts {
  background-color: #fff5f6;
  // background-image: url(../images/mobile/bg-pink-mob@x1_01.png),
  //   url(../images/mobile/bg-pink-mob@x1_02.png);
  // background-position: 102px 0px, center;
  // background-size: 55%;
  // background-repeat: no-repeat;
  // background-position: 50%;
  width: 100%;
  // padding-top: 84px;
  // padding-bottom: 20px;

  @include tab {
    // padding-top: 78px;
  }
  @include desk {
    background-position: left 83%, right 83%;
    background-size: 45%, 45%;
    background-repeat: no-repeat;
    // padding-top: 102px;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url(../images/mobile/bg-pink-mob@x2_01.png),
  //     url(../images/mobile/bg-pink-mob@x2_02.png);
  // }

  @include desk {
    background-image: url(../images/desktop/bg-pink-desk@x1_01.png),
      url(../images/desktop/bg-pink-desk@x1_02.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desktop/bg-pink-desk@x2_01.png),
        url(../images/desktop/bg-pink-desk@x2_02.png);
    }
  }
}
.contacts__title {
  margin: auto;
  padding: 0 102px;
  background-color: #fff5f6;
  // @media screen and (min-width: 768px) and (max-width: 1279px) {
  //   margin-top: -78px;
  // }
  // @media screen and (min-width: 1280px) {
  //   padding: 0 102px;
  // }
}

// .contacts__container {
//   background-color: #fff5f6;
// }

.contacts__list {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  // // margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 54px;

  @include tab {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 81px;
  }
  @include desk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -30px;
    margin-bottom: 0px;
  }
}
.contacts__item {
  width: 100%;
  padding: 43px 21px 43px 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-top: -84px;
  @include mob {
    // &:not(:last-child) {
    //   margin-bottom: 104px;
    // }
  }
  @include tab {
    margin-top: -78px;
    padding: 50px 32px;
    // height: 544px;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: auto;
  }
  @include desk {
    margin-top: -102px;
    padding: 51px 44px 62px 43px;
    height: 572px;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 86px;
  }
}
.contacts__title-cafe {
  width: 73px;
  height: 28px;
  background-color: #f0d1a5;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  color: #ffffff;
  border-radius: 6px;
  @include tab {
    margin-bottom: 30px;
    font-size: 16px;
  }
  @include desk {
    margin-bottom: 32px;
    font-size: 16px;
  }
}
.contacts__title-truck {
  width: 138px;
  height: 28px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #c2e297;
  border-radius: 6px;
  margin-bottom: 32px;
}

.contacts__pre-title,
.schedule__pre-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  // padding-top: 32px;
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

.contacts__after-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  // letter-spacing: 0.04em;
  color: #907e82;
  //   width: 243px;
  padding-top: 10px;
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

.schedule__after-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-bottom: 15px;
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}
// .schedule__item {
//   :not(:last-child) {
//     padding-bottom: 15px;
//   }
// }

.address__tel,
.address__mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #907e82;
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}

// .address__item:not(:last-child) {
//   padding-top: 64px;
// }
.contacts-item__wrap {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  // width: 243px;
  // height: 459px;
  //   width: 243px;
  //   text-align: center;
  @include tab {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  @include desk {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
.contacts__btn-list {
  justify-content: center;
  text-align: center;
  align-items: center;
  @include tab {
    display: flex;
  }
  @include desk {
    display: flex;
  }
}
.contacts__btn-item {
  display: flex;
}
.location__btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  background: #d41342;
  color: #fff;
  border-radius: 22px;
  width: 161px;
  height: 44px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  @include tab {
    width: 191px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  @include desk {
    width: 198px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  &:hover,
  &:focus {
    background-color: var(--mob-menu-border-color);
  }
}
.franchise__btn {
  width: 180px;
  height: 44px;
  border: 2px solid #d41443;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background-color: #fff;
  border: none;
  width: 161px;
  height: 44px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  @include tab {
    width: 174px;
  }
  @include desk {
    width: 198px;
  }
  &:hover,
  &:focus {
    background-color: var(--btn-active-bg-color);
  }
}
.location__btn-icon {
  fill: none;
  stroke: #ffffff;
  margin-left: 13px;
}
.franchise__btn-icon {
  margin-left: 13px;
  fill: none;
}
