.about {
  background-color: #fff5f6;
  background-image: url(../images/mobile/bg-milk-mob@x1_01.png),
    url(../images/mobile/bg-milk-mob@x1_02.png);
  background-position: left 90%, right 90%;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 125px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-position: left 83%, right 83%;
    background-size: 45%, 45%;
  }
}

.about__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    letter-spacing: 0.06em;
    line-height: calc(66 / 58);
    margin-bottom: 57px;
  }
}

br {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__img {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    max-width: 340px;
    height: 340px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 516px;
    height: 516px;
  }
}
.about__thumb {
  @media screen and (max-width: 767px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 72px;
  }
}

.about__text--black {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  color: #000000;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
    margin-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.04em;
    margin-top: 45px;
  }
}

.about__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  color: #907e82;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(27 / 14);
    letter-spacing: 0.04em;
    margin-bottom: 50px;
  }
}

.about__btn-icon {
  margin-left: 14px;
}
