.about {
  background-color: #fff5f6;
  background-image: url(../images/mobile/bg-milk-mob@x1_01.png),
    url(../images/mobile/bg-milk-mob@x1_02.png);
  background-position: left 90%, right 90%;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 125px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
  }
  @include desk {
    background-position: left 83%, right 83%;
    background-size: 45%, 45%;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mobile/bg-milk-mob@x2_01.png),
      url(../images/mobile/bg-milk-mob@x2_02.png);
  }

  @include desk {
    background-image: url(../images/desktop/bg-milk-desk@x1_01.png),
      url(../images/desktop/bg-milk-desk@x1_02.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desktop/bg-milk-desk@x2_01.png),
        url(../images/desktop/bg-milk-desk@x2_02.png);
    }
  }
}

.about__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-pink);
  margin-bottom: 15px;

  @include tab {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desk {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-bottom: 26px;

  @include tab {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 50px;
  }
  @include desk {
    font-size: 58px;
    letter-spacing: 0.06em;
    line-height: calc(66 / 58);
    margin-bottom: 57px;
  }
}

br {
  @include tab {
    display: none;
  }
}

.about__button--width {
  width: 176px;
  height: 44px;
  display: inline-block;
}

.about__wrapper {
  @include tab {
    display: flex;
  }
}

.about__img {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
  @include tab {
    min-width: 340px;
    height: auto;
  }
  @include desk {
    min-width: 516px;
    height: auto;
  }
}
.about__thumb {
  @media screen and (max-width: 767px) {
    padding: 0 40px;
  }

  @include tab {
    margin-left: 17px;
  }
  @include desk {
    margin-left: 72px;
  }
}

.about__text--black {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  color: var(--text-black);
  margin-bottom: 32px;

  @include tab {
    font-size: 14px;
    line-height: calc(25 / 14);
    margin-top: 50px;
  }
  @include desk {
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.04em;
    margin-top: 45px;
  }
}

.about__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  color: var(--text-gray);
  margin-bottom: 17px;

  @include tab {
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
    margin-bottom: 56px;
  }
  @include desk {
    font-size: 14px;
    line-height: calc(27 / 14);
    letter-spacing: 0.04em;
    margin-bottom: 50px;
  }
}

.about__btn-icon {
  margin-left: 14px;
}
