.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  position: relative;
  background-color: #fff5f6;
}

.footer__name {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: left;
  color: #ffa5ba;
  max-width: 232px;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 26px;
    line-height: calc(30 / 26);
    max-width: 340px;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 700;
    font-size: 30px;
    line-height: calc(34 / 30);
    max-width: 474px;
  }
}

.footer__name1 {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: left;
  color: #d41443;
  max-width: 200px;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 48px;
    line-height: calc(55 / 48);
    max-width: 340px;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 58px;
    line-height: calc(66 / 58);
    max-width: 474px;
  }
}

.footer-social__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.footer-social__link {
}

.footer-social__item:not(:last-child) {
  margin-right: 28.24px;
}

.footer-contacts__wrap {
  display: flex;
  justify-content: end;
  margin-bottom: 65px;
}

.footer-contacts__title {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: #000000;
}

.footer-contacts__tel {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: #d41443;
}

.footer__rights {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  color: #907e82;
  max-width: 150px;
  display: flex;
  margin: 0 auto;
}

.footer__rights::before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  bottom: 89px;
  left: 0;
}
