<section class="contacts" id="contact">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="list contacts__list">
      <li class="contacts__item">
        <p class="contacts__title contacts__title-cafe">CAFE</p>
        <h3 class="contacts__pre-title">Chicago</h3>
        <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule__list">
          <li class="schedule__weekday">
            <p class="schedule__pre-title">Monday - Friday</p>
            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__restday">
            <p class="schedule__pre-title">Saturday - Sunday</p>
            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contact-address__list">
          <li class="contact-address__item">
            <a class="text link contact-address__tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-address__item">
            <a class="text link contact-address__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title contacts__title-truck">FOOD TRUCK</p>
        <h3 class="contacts__pre-title">Los Angeles</h3>
        <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule__list">
          <li class="schedule__weekday">
            <p class="schedule__pre-title">Monday - Friday</p>
            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__restday">
            <p class="schedule__pre-title">Saturday - Sunday</p>
            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contact-address__list">
          <li class="contact-address__item">
            <a class="text link contact-address__tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-address__item">
            <a class="text link contact-address__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title contacts__title-cafe">CAFE</p>
        <h3 class="contacts__pre-title">New York</h3>
        <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule__list">
          <li class="schedule__weekday">
            <p class="schedule__pre-title">Monday - Friday</p>
            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__restday">
            <p class="schedule__pre-title">Saturday - Sunday</p>
            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contact-address__list">
          <li class="contact-address__item">
            <a class="text link contact-address__tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-address__item">
            <a class="text link contact-address__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list contacts__btn-list">
      <li class="contacts__btn-item">
        <button type="button" class="btn contacts__btn location__btn" data-modal-open>
          Our Locations
          <svg class="location__btn-icon contacts__icon" width="12" height="12">
            <use href="./images/icon.svg#icon-on-contacts"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button type="button" class="btn contacts__btn franchise__btn" data-modal-open>
          Franchise
          <svg class="franchise__btn-icon contacts__icon" width="12" height="12">
            <use href="./images/icon.svg#icon-on-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div></div>
</section>
