<section class="contacts" id="contacts">
    <div class="container contacts__container">
        <h2 class="contacts__title visually-hidden">Наши контактные данные</h2>
        <ul class="list contacts__list">
            <li class="contacts__item">
                <div class="contacts-item__wrap">
                    <p class="contacts__title-cafe">CAFE</p>
                    <h3 class="contacts__pre-title align__left">Chicago</h3>
                    <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate </p>
                    <ul class="schedule__list list">
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Monday - Friday</p>
                            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Saturday - Sunday</p>
                            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <address>
                        <ul class="list address__list">
                            <li class="address__item">
                                <a class="text link address__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="address__item">
                                <a class="text link address__mail"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts-item__wrap">
                    <p class="contacts__title-truck">FOOD TRUCK</p>
                    <h3 class="contacts__pre-title align__left">Los Angeles</h3>
                    <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="schedule__list list">
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Monday - Friday</p>
                            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Saturday - Sunday</p>
                            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <address>
                        <ul class="list address__list">
                            <li class="address__item">
                                <a class="text link address__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="address__item">
                                <a class="text link address__mail"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts-item__wrap">
                    <p class="contacts__title-cafe">CAFE</p>
                    <h3 class="contacts__pre-title align__left">New York</h3>
                    <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate </p>
                    <ul class="schedule__list list">
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Monday - Friday</p>
                            <p class="schedule__after-title">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__pre-title">Saturday - Sunday</p>
                            <p class="schedule__after-title">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <address>
                        <ul class="list address__list">
                            <li class="address__item">
                                <a class="text link address__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="address__item">
                                <a class="text link address__mail"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </div>
            </li>
        </ul>
        
    </div>
    <div>
        <button type="button" class="location__btn" data-modal-open>Our Locations</button>
    </div>
</section>