<section class="gallery">
  <div class="container">
    <h1 class="visually-hidden">Gallery</h1>
    <div class="gallery__wrap">
      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-01.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-01.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-01.png 1x,
              ./images/desktop/gallery-pic-desk@x2-01.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-01.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-01.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-01.png 1x,
              ./images/tablet/gallery-pic-tab@x2-01.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-01.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-01.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-01.png 1x,
              ./images/mobile/gallery-pic-@mobx2-01.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-01.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-02.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-02.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-02.png 1x,
              ./images/desktop/gallery-pic-desk@x2-02.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-02.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-02.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-02.png 1x,
              ./images/tablet/gallery-pic-tab@x2-02.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-02.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-02.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-02.png 1x,
              ./images/mobile/gallery-pic-@mobx2-02.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-02.png"
            alt=""
            class="gallery__img"
            width="139"
            height="139"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-03.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-03.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-03.png 1x,
              ./images/desktop/gallery-pic-desk@x2-03.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-03.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-03.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-03.png 1x,
              ./images/tablet/gallery-pic-tab@x2-03.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-03.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-03.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-03.png 1x,
              ./images/mobile/gallery-pic-@mobx2-03.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-03.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-04.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-04.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-04.png 1x,
              ./images/desktop/gallery-pic-desk@x2-04.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-04.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-04.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-04.png 1x,
              ./images/tablet/gallery-pic-tab@x2-04.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-04.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-04.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-04.png 1x,
              ./images/mobile/gallery-pic-@mobx2-04.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-04.png"
            alt=""
            class="gallery__img"
            width="174"
            height="174"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-05.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-05.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-05.png 1x,
              ./images/desktop/gallery-pic-desk@x2-05.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-05.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-05.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-05.png 1x,
              ./images/tablet/gallery-pic-tab@x2-05.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-05.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-05.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-05.png 1x,
              ./images/mobile/gallery-pic-@mobx2-05.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-05.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-06.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-06.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-06.png 1x,
              ./images/desktop/gallery-pic-desk@x2-06.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-06.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-06.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-06.png 1x,
              ./images/tablet/gallery-pic-tab@x2-06.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-06.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-06.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-06.png 1x,
              ./images/mobile/gallery-pic-@mobx2-06.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-06.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-07.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-07.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-07.png 1x,
              ./images/desktop/gallery-pic-desk@x2-07.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-07.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-07.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-07.png 1x,
              ./images/tablet/gallery-pic-tab@x2-07.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-07.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-07.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-07.png 1x,
              ./images/mobile/gallery-pic-@mobx2-07.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-07.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-08.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-08.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-08.png 1x,
              ./images/desktop/gallery-pic-desk@x2-08.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-08.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-08.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-08.png 1x,
              ./images/tablet/gallery-pic-tab@x2-08.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-08.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-08.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-08.png 1x,
              ./images/mobile/gallery-pic-@mobx2-08.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-08.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-09.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-09.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-09.png 1x,
              ./images/desktop/gallery-pic-desk@x2-09.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-09.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-09.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-09.png 1x,
              ./images/tablet/gallery-pic-tab@x2-09.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-09.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-09.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-09.png 1x,
              ./images/mobile/gallery-pic-@mobx2-09.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-09.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>

      <div class="gallery__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-10.webp 1x,
              ./images/desktop/gallery-pic-desk@x2-10.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/gallery-pic-desk@x1-10.png 1x,
              ./images/desktop/gallery-pic-desk@x2-10.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-10.webp 1x,
              ./images/tablet/gallery-pic-tab@x2-10.webp 2x
            "
            media="(min-width: 380px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/gallery-pic-tab@x1-10.png 1x,
              ./images/tablet/gallery-pic-tab@x2-10.png 2x
            "
            media="(min-width: 380px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-10.webp 1x,
              ./images/mobile/gallery-pic-@mobx2-10.webp 2x
            "
            media="(max-width: 379px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/gallery-pic-@mobx1-10.png 1x,
              ./images/mobile/gallery-pic-@mobx2-10.png 2x
            "
            media="(max-width: 379px)"
            type="image/png"
          />
          <img
            src="./images/desktop/gallery-pic-desk@x1-10.png"
            alt=""
            class="gallery__img"
            width="85"
            height="85"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
