<!-- Мобильное меню - Бургер -->
<div class="mob-menu is-hidden" data-menu>
  <button type="button" class="mob-menu-btn" data-menu-close>
    <svg class="mob-menu__icon" width="14" height="14">
      <use href="./images/icon.svg#icon-close"></use>
    </svg>
  </button>
  <div class="container__mob-menu">
    <button type="button" class="btn mob-menu__button" data-modal-open>
      <span>Buy now</span
      ><svg class="mob-menu__button-icon" width="8px" height="10px">
        <use href="./images/icon.svg#icon-bnt-arrow"></use>
      </svg>
    </button>
    <nav class="mob-nav">
      <ul class="mob-nav__list list">
        <li class="mob-nav__item current">
          <a href="#home" class="mob-nav__link">Home</a>
        </li>
        <li class="mob-nav__item">
          <a href="#about" class="mob-nav__link">About us</a>
        </li>
        <li class="mob-nav__item">
          <a href="#how" class="mob-nav__link">How it’s made?</a>
        </li>
        <li class="mob-nav__item">
          <a href="#prod" class="mob-nav__link">Our products</a>
        </li>
        <li class="mob-nav__item">
          <a href="#contact" class="mob-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
