
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <!-- кнопка закрытия модального окна -->
        <button type="button" class="modal__button--close" data-modal-close>
            <svg width="20" height="20">
                <use href="images/icon.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">Leave your data, the operator will contact you soon</p>
        <form action="#">
            <div class="form-field">
                <!-- Инпут с строкой имени -->
                <label class="input-text" for="user-name">Name</label>
                <div class="input-bar">
                    <input 
                        type="text"
                        name="user-name"
                        class="form-input"
                        id="user-name"
                        minlength="2"
                        required
                    >
                    <svg class="input-icon" width="12" height="12">
                        <use href="images/icon.svg#icon-vector-name"></use>
                    </svg>
                </div>
                <!-- Инпут со строкой номера телефона -->
                <label class="input-text" for="user-tel">Phone</label>
                <div class="input-bar">
                    <input 
                        type="text"
                        name="user-tel"
                        class="form-input"
                        id="user-tel"
                        minlength="2"
                        required
                    >
                    <svg class="input-icon" width="12" height="12">
                        <use href="images/icon.svg#icon-vector-tel"></use>
                    </svg>
                </div>
                <!-- Инпут со строкой почты -->
                <label class="input-text" for="user-mail">Mail</label>
                <div class="input-bar">
                    <input 
                        type="text"
                        name="user-mail"
                        class="form-input"
                        id="user-mail"
                        minlength="2"
                        required
                    >
                    <svg class="input-icon" width="12" height="12">
                        <use href="images/icon.svg#icon-vector-mail"></use>
                    </svg>
                </div>
                <!-- Order title -->
                <p class="modal__title">Choose your order</p>
                <div class="modal__input-flex">
                    <div class="modal__input-bar">
                        <!-- Input for Ice cream -->
                        <label class="input-text" for="user-order-icecream">Ice Cream</label>
                        <div class="input-bar">
                            <button type="button" class="quantity-arrow-minus">-</button>
                            <input 
                                type="number"
                                name="ice cream"
                                min="0"
                                class="update-cart"
                                id="user-order-icecream"
                                value="0"
                            />
                            <button type="button" class="quantity-arrow-plus">+</button>
                            <img class="input-img" src="./images/mobile/ice-cream-products-mob@x1.png" alt="nice" width="30" height="50">
                        </div>
                        <!-- Input for Ice coffee -->
                        <label class="input-text" for="user-order-icecoffee">Ice coffe</label>
                        <div class="input-bar">
                            <button type="button" class="quantity-arrow-minus">-</button>
                            <input 
                                type="number"
                                name="Ice__coffee"
                                min="0"
                                class="update-cart"
                                id="user-order-icecoffee"
                                value="0"
                                required
                            >
                            <button type="button" class="quantity-arrow-plus">+</button>
                            <img class="input-img" src="./images/mobile/ice-coffee-products-mob@x1.png" alt="nice" width="30" height="50">
                        </div>
                        <!-- Input for Milkshake -->
                        <label class="input-text"  for="user-order-milkshake">Milkshake</label>
                        <div class="input-bar">
                            <button type="button" class="quantity-arrow-minus">-</button>
                            <input 
                                type="number"
                                name="Milkshake"
                                min="0"
                                class="update-cart"
                                id="user-order-milkshake"
                                value="0"
                                required
                            >
                            <button type="button" class="quantity-arrow-plus">+</button>
                            <img class="input-img" src="./images/mobile/milkshake-products-mob@x1.png" alt="nice" width="30" height="50">
                        </div>
                    </div>
                    <div class="modal__img">
                        <picture>
                            <source srcset="./images/desktop/tasty-girl-desk@x1.png 1x, 
                                ./images/desktop/tasty-girl-desk@x2.png 2x" media="(min-width: 1280px)">
                            <source srcset="./images/tablet/tasty-girl-tab@x1.png 1x, 
                                ./images/tablet/tasty-girl-tab@x2.png 2x" media="(min-width: 768px)">
                            <source srcset="./images/tablet/tasty-girl-tab@x1.png 1x, 
                                ./images/tablet/tasty-girl-tab@x2.png 2x" media="(min-width: 480px)">
                            <img class="hero-so-tasty" width="168" height="133" src="./images/desktop/tasty-girl-desk@x1.png"
                                alt="girl with icecream">
                        </picture>
                    </div>
                </div>
                <div class="modal-order">
                    <button type="button" class="btn about__button--width" >
                        ORDER
                        <svg class="about__btn-icon" width="12" height="12">
                            <use href="./images/icon.svg#icon-on-button"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>    
