<section class="container">
    <div class="swiper">
        <ul class="reviews list swiper-wrapper">
            <li class="reviews__card swiper-slide customer-item">
                <picture class="reviews__card-img">
                    <source srcset="./images/for-all/slider-girl@x1.png 1x
                                    ./images/for-all/slider-girl@x2.png 2x" />
                    <img src="./images/for-all/slider-girl@x1.png" alt="reviews-card-1" />
                </picture>
                <div class="reviews__block">
                    <p class="reviews__block-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__card-info">Emily, Los Angeles</p>
            </li>
            <li class="reviews__card swiper-slide">
                <picture class="reviews__card-img">
                    <source srcset="./images/for-all/slider-girl2@x1.png 1x
                                    ./images/for-all/slider-girl2@x2.png 2x" />
                    <img src="./images/for-all/slider-girl2@x1.png" alt="reviews-card-2" />
                </picture>
                <div class="reviews__block">
                    <p class="reviews__block-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__card-info">Emily, Los Angeles</p>
            </li>
            <li class="reviews__card swiper-slide">
                <picture class="reviews__card-img">
                    <source srcset="./images/for-all/slider-girl3@x1.png 1x
                                    ./images/for-all/slider-girl3@x2.png 2x" />
                    <img src="./images/for-all/slider-girl3@x1.png" alt="reviews-card-3" />
                </picture>
                <div class="reviews__block">
                    <p class="reviews__block-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="reviews__card-info">Emily, Los Angeles</p>
            </li>
        </ul>
    </div>
    <div class="swiper-pagination">

    </div>

    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <script src="./js/swiper.js"></script>
</section>