<section class="reviews">
    <div class="container">
        <picture class="reviews__photo">
            <source srcset="../images/reviews-photo1-1x.jpg 1x,
                            ../images/reviews-photo1-2x.jpg 2x" media="(min-width: 768px)" />
            <img src="../images/reviews-photo1-1x.jpg" alt="reviews-photo1" />
        </picture>
        <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <p class="reviews__comment-name">Emily, Los Angeles</p>
    </div>
</section>

