.header {
  position: relative;
  background-color: #ffb8ca;
  height: 100vh;
  overflow: hidden;
  &__logo {
    @include desk {
      margin-right: 110px;
    }
  }
  &-container {
    padding-top: 6px;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;
    @include tab {
      justify-content: center;
    }
    @include desk {
      align-items: center;
      justify-content: center;
    }
  }
  &__list {
    display: none;
    @include desk {
      display: flex;
    }
  }

  &__btn {
    display: none;
    @include tab {
      display: block;
    }
    @include desk {
      margin-left: auto;
    }
  }
  &__link {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(21 / 16);
    color: #ffffff;
  }
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &_menu-btn {
    display: block;
    margin-left: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include tab {
      margin-left: auto;
      margin-right: 30px;
    }
    @include desk {
      display: none;
    }
  }
}
.hero {
  &__about {
    &--wrap {
      display: flex;
    }
    &--btn {
      margin-right: 8px;
    }
  }
  &__tittle {
    font-family: "Titan One", sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-text-color);
    &--span {
      font-family: "Titan One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: calc(48 / 46);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-red);
    }
  }
  &-wrap {
    position: absolute;
    z-index: 5;
  }
  &-img__link {
    width: 171px;
    height: 410px;
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 3;
  }
  &__about--link {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--text-red);
  }
}
.hero-wrap__right {
  display: none;
}
.bio-eco {
  display: none;
}
.hero-so-tasty__wrap {
  display: none;
}
.bg-ring {
  position: absolute;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: #ffa5ba;
  z-index: 1;
  top: 76px;
  left: 35px;
  @include tab {
    width: 324px;
    height: 322px;
  }
}
.container {
  outline: 1px solid purple;
}
