.another-container{
  background-color: var(--product-pink);
}
.hero-top {
  position: relative;
  overflow: hidden;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 137px;
    @include tab {
      margin-bottom: 15px;
    }
    @include desk {
      margin-left: 240px;
      margin-bottom: 84px;
    }
  }
  &__logo {
    @include desk {
      position: absolute;
      left: 46px;
      top: 37px;
      // margin-right: 110px;
      // margin-left: -69px;
    }
  }
  &__item:hover &__link,
  &__item:focus &__link {
    color: var(--text-red);
  }
  // &__btn--wrap {
  //   // margin-bottom: 137px;
  //   // @include tab {
  //   //   margin-bottom: 15px;
  //   // }
  //   // @include desk {
  //   //   margin-left: 240px;
  //   // margin-bottom: 84px;
  //   // }
  // }
  &__list {
    display: none;
    @include desk {
      display: flex;
      position: relative;
      z-index: 5;
    }
  }

  &__btn {
    width: 160px;
    height: 44px;
    display: none;
    @include tab {
      display: block;
      position: absolute;
      z-index: 2;
      right: 34px;
      top: 38px;
      margin-left: 30px;
    }
    @include desk {
      right: 115px;
      top: 38px;
    }
  }
  &__link {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(21 / 16);
    color: var(--light-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__menu-btn {
    display: block;
    // margin-left: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @include tab {
      top: 52px;
      right: 224px;
      position: absolute;
      z-index: 2;
    }
    @include desk {
      display: none;
    }
  }
}

.header__section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 137px;
  @include tab {
    justify-content: center;
    margin-bottom: 17px;
  }
  @include desk {
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
  }
}

.hero {
  &__about {
    &--wrap {
      display: flex;
    }

    &--btn {
      margin-right: 8px;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 10px;
      background-color: var(--light-text-color);
      color: var(--text-red);
      &-red {
        background-color: var(--text-red);
        color: var(--light-text-color);
      }
    }
  }
  &__tittle {
    font-family: 'Titan One', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 20px;
    @include tab {
      font-size: 22px;
      line-height: calc(25 / 22);
    }
    @include desk {
      font-size: 38px;
      line-height: calc(44 / 38);
      margin-bottom: 25px;
    }

    &--span {
      font-family: 'Titan One', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: calc(48 / 46);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-red);
      display: block;
      @include tab {
        font-size: 34px;
        line-height: calc(34 / 31);
      }
      @include desk {
        font-size: 58px;
        line-height: calc(58 / 52);
      }
    }
  }
  &-wrap {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    &__left {
      width: 218px;
      @include tab {
        width: 162px;
      }
      @include desk {
        width: 277px;
        margin-bottom: 56px;
      }
    }
  }
  // &__products--link {
  //   font-family: 'DM Sans', sans-serif;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 8px;
  //   line-height: 10px;
  //   display: flex;
  //   align-items: center;
  //   text-align: center;
  //   color: var(--light-text-color);
  // }
  // &__made--link {
  //   font-family: 'DM Sans', sans-serif;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 8px;
  //   line-height: 10px;
  //   display: flex;
  //   align-items: center;
  //   text-align: center;

  //   color: var(--text-red);
  // }
}

.hero-img {
  position: absolute;
  width: 171px;
  height: 410px;
  left: 117px;
  bottom: -6px;
  z-index: 3;
  // @include mob {
  //   // position: absolute;
  //   // width: 171px;
  //   // height: 410px;
  //   // left: 117px;
  //   bottom: 0;
  //   z-index: 3;
  // }
  @include mob {
    left: 160px;
  }
  @include tab {
    // position: absolute;
    width: 143px;
    height: 336px;
    left: 378px;
    // bottom: 0;
    // z-index: 3;
  }
  @include desk {
    width: 236px;
    height: 557px;
    position: absolute;
    right: 32px;
    z-index: 3;
    bottom: 0;
    left: 594px;
  }
}

// .hero-wrap__right {
//   // display: none;
//   // @include tab {
//   //   display: block;
//   // }
// }

.bio-eco-left__img {
  display: none;
  @include tab {
    position: absolute;
    bottom: 45px;
    left: 77px;
    display: flex;
    bottom: 28px;
    left: 34px;
  }
  @include desk {
    bottom: 45px;
  }
}

.bio-eco__right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 56px;
  left: 295px;
  @include tab {
    bottom: 34px;
    left: 154px;
  }
  @include desk {
    position: absolute;
    bottom: 56px;
    left: 295px;
  }
}

.bio-eco__text {
  display: none;
  @include tab {
    display: block;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.5;
    width: 114px;
    height: 48px;
    color: var(--light-text-color);
  }
  @include desk {
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
    height: 78px;
    color: var(--light-text-color);
  }
}

.bio-eco__btn {
  display: none;
  @include tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    margin-top: 20px;
    &:hover,
    &:focus {
      background-color: var(--btn-active-bg-color);
    }
    & {
      fill: var(--text-red);
    }
  }
}

.hero-so-tasty {
  @include desk {
    width: 293px;
    position: relative;
    z-index: 5;
  }
  &__wrap {
    display: none;
    @include tab {
      display: block;
      position: absolute;
      width: 168px;
      height: 133px;
      z-index: 2;
      bottom: 0;
      right: 34px;
    }
    @include desk {
      width: 293px;
      height: 232px;
      right: 109px;
      // bottom: 0;
    }
  }
}

.points-of-sale {
  display: none;
  @include tab {
    display: flex;
    flex-direction: column;
  }
  & li {
    font-family: Titan One;
    font-size: 28px;
    line-height: calc(32 / 28);
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--text-red);
    position: relative;
    @include desk {
      font-size: 46px;
      line-height: calc(53 / 46);
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--light-text-color);
      position: absolute;
      top: -2px;
      right: -6px;
      z-index: -1;
      @include desk {
        width: 30px;
        height: 30px;
      }
    }
    & p {
      font-family: DM Sans;
      font-size: 8px;
      line-height: calc(10 / 8);
      color: var(--light-text-color);
      @include desk {
        font-size: 14px;
        line-height: calc(18 / 14);
      }
    }
  }
}

.container-bg {
  background-image: url(/images/desktop/ellipse-desk@x1.png);
  background-repeat: no-repeat;
  background-size: 324px 322px;
  background-position: top 83px left 36px;
  // height: 502px;
  padding-bottom: 150px;
  position: relative;
  padding-top: 6px;
  @media screen and (min-width: 480px) {
    width: 480px;
    // background-size: 324px 322px;
    background-position: top 83px left 83px;
    // height: 502px;
    overflow: hidden;
    // padding-top: 6px;
    // position: relative;
  }
  @include tab {
    width: 768px;
    // background-size: 324px 322px;
    background-position: bottom 46px right 137px;
    // height: 399px;
    overflow: hidden;
    padding-top: 37px;
    position: relative;
  }
  @include desk {
    width: 1280px;
    background-size: 531px 544px;
    background-position: bottom 69px right 274px;
    padding-bottom: 250px;
    overflow: hidden;
    padding-top: 50px;
  }
}

.nav__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__btn--flex {
  display: flex;
}

.header__btn--wrap {
  display: flex;
}
