.mob-menu-btn {
  position: absolute;
  right: 28px;
  top: 23px;
  display: inline-flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;

  &__open {
    @include desk {
      display: none;
    }
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding-top: 60px;
  background-color: var(--mob-menu-bg-color);

  z-index: 600;

  transition: top 250ms var(--transition), opacity var(--transition), visibility var(--transition);

  @include tab {
    width: 45vw;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    width: 209px;
    height: 44px;
    @include tab {
      width: 186px;
    }
  }
  &__button-icon {
    margin-left: 27px;
    position: relative;
    bottom: -1.5px;
  }
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  top: -100%;
}

.container__mob-menu {
  display: flex;
  flex-direction: column;
}

.mob-nav {
  &__item {
    display: flex;
    align-items: center;
    height: 42px;
    padding-left: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
  }

  &__item:nth-child(2n + 1) {
    border: 1px solid var(--mob-menu-border-color);
  }

  @include tab {
    padding-left: 24px;
  }

  &__link {
    transition: color var(--transition);
    &:hover,
    &:focus {
      color: var(--text-red);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.current {
  color: var(--text-red);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
